@keyframes tilt-shaking {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(2.5deg);
    }
    50% {
        transform: rotate(0deg);
    }
    75% {
        transform: rotate(-2.5deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

div.gentle-hover-shake:hover {
    animation: tilt-shaking 0.35s infinite;
}

.dashboard {
    display: flex;
    max-height: 85vh;
    height: 85vh;
    min-height: 85vh;
    margin: 25px;
    padding: 15px
}

.delete-button {
    display: none;
    position: relative;
    float: right;
    z-index: 1;
    cursor: pointer;
}

#buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: none;
}

#edit-button {
    margin: 5px
}

#add-button {
    display: none;
    margin: 5px
}

.grid-stack-item-content {
    grid-area: grid-stack-item-content
}

.grid-stack-item-content {
    background-color: white;
    border-radius: 10px;
    height: 100%;
    overflow: hidden;
}

.grid-stack-item-content .summary, .files .summary, .prescriptions .summary {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.grid-stack-item-content .summary-content, .files .summary-content, .prescriptions .summary-content {
    height: 485px;
}

.grid-stack-item-content .summary-footer, .files .summary-footer, .prescriptions .summary-footer {
    display: flex;
    flex: auto;
    justify-content: flex-end;
    flex-direction: column;
    padding: 0;
    margin: 10px;
}
