
canvas{
    position: relative;
    width: 100%;
    height: 16vw;
}

canvas.pie {
    height: 26vw;
}

#statistics {
    margin: 2em;
}

#date-from,
#date-to{
    margin-bottom: 2em;
}

#statistics h3,
#statistics canvas {
    margin-bottom: 1em;
}
