extends ../header
block content
    link(rel='stylesheet', href='/stylesheets/patients.css')
    link(rel='stylesheet', href='/stylesheets/note.css')
    link(rel='stylesheet', href='/stylesheets/prescription.css')
    script(type='text/javascript' src='/javascripts/prescription.js')
    div(style="display: flex; flex-direction: row; flex-wrap: nowrap; height: calc(100vh - 54px)")
        div(id="1" style="height:100%; width:65%; flex-direction: column")
        div(id="2" style="height:100%; width:35%; flex-direction: column")
        script.
            loadContent("#{consultationURL}", 1);
            loadContent("#{capsuleURL}", 2);
        //iframe(id="1" src=consultationURL height="100%" width="50%")
        //iframe(id="2" src=capsuleURL height="100%" width="50%")
