doctype html
html
    head
        title= title
        link(rel='stylesheet', href='https://fonts.googleapis.com/css2?family=Nunito:wght@800&display=swap')
        link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
        link(rel='stylesheet', href='/stylesheets/styles.css')
        link(rel='stylesheet', href='/stylesheets/login.css')
        script(type='text/javascript' src='/javascripts/utils.js')
        script(type='text/javascript' src='/javascripts/login.js')
    body(token=`${data.token}`)
        div(id='alert-box-background')
            div(id='alert-box')
                div.notification
                button(id='close-alert', onclick='closeAlert()') X
        #flex-container
            .login-section
                .login-header
                    img(class="login-header image" src="/images/h_logo1.png")
                .login-content
                    span(class="login-content title") Réinitialisation mot de passe
                    div
                        label
                            input(id="password" placeholder="Nouveau mot de passe" name="password")
                        label
                            input(id="password-confirm" placeholder="Confirmation mot de passe" name="password-confirm")
                        label
                        button(class="red" onclick='resetPassword()') Réinitialiser
                .login-footer
