extends ../../header
block content
    link(rel='stylesheet', href='/stylesheets/room.css')
    script(type='text/javascript' src='/javascripts/room.js')
    #inner-body.margin-top-element(item-id=`${data.id}`)
        div.property-list
            div.actions
                button.add(onClick="saveRoomCategory(" + data.id + ")") Sauvegarder
            h3 Informations
            div
                span Nom :
                input#category-name(placeholder="nom", value=data.display_name)
    script.
        initRoomTypeEdit();
